Makefile.backup
*.dbg
*.out
temp.*
spin.*
*.o
*.mod
*.html
*.js
*.out
*.aux
*.log
*.dvi
meminfo
sd
out
*.tar.gz
*.H
*.S
*.M
*.1
*.4
*.5
*.pyc
codeTester/*/*[0-9]
docs/latex
docs/latex/**
docs/html
docs/html/**
examples_revision_controlled/bccFe-Tsweep/T*
source/make/user_profiles
source/make/objs_c.make
mod
obj
makefileCUDA.backup
source/make/dependencies.dot
source/make/dependencies.make
source/make/cobjs.make
source/make/dependencies_c.make
source/make/objs.make
.profile
codeTester/extractoutput.pyc
codeTester/tests.log
source/Makefile
inp.*.yaml
*.gcno
fort.*
bin/sd.gfortran
