#include uppasd/_uppasd* ../CMakeLists.txt
#recursive-include source 
recursive-include ./source *.f90 *.cu *.cpp *.hpp *.h kind.map *.txt
recursive-include ./cmake *
#recursive-include ./scripts uppasd*
include ./CMakeLists.txt
